/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache
Era Material - DarkNav Blogger Comments.txt
fusatour.zip
public/images/images4.zip
/images_sin_comprimir.zip
public/assets/css/css.zip
*.zip
public/images/images.zip
