.img_tall{height:200px}.img_full{width:100%}.ocultar{display:none}.img_presentation{height:250px;width:100%}.img_banner{height:200px;width:100%}.iframe{border:none;width:100%;height:180px;border-radius:15px}.a-canvas{border-radius:15px}.button-red{background-color:#eb4d4b}.button-blue{background-color:#0abde3}input[type=radio]{display:none}label{color:grey}.clasificacion{direction:rtl;unicode-bidi:bidi-override}label:hover,label:hover~label{color:orange}input[type=radio]:checked~label{color:orange}.estrella label{font-size:16vw}


.wrapper{
	justify-content: center;
	align-items: center;
}
#slides{
	height: 100%;
	width:100%;
	list-style: none;
	display: flex;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
	scroll-snap-points-x: repeat(150px);
  scroll-snap-type: x proximity;
  padding-left: 3px;
  padding-right: 3px;
  margin-bottom: 0px;
  margin-top: 0px;
}
#slides::-webkit-scrollbar{
  width: 10px;
  height: 10px;
}
#slides::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 4px;
}
#slides::-webkit-scrollbar-track {
  background: transparent;
}

.lateral{
	padding-right: 19px;
	height: 70px;
}

.lateral img{
	border-radius: 20%;
	width: 60px;
	height: 60px;
}

.cero{
	margin-bottom: 0px;
	margin-top: 0px;
}

.modal.bottom-sheet {
	border-radius: 15px 15px 0px 0px;
}

.simbolos img{
	height: 130px;
	width: 100%;
	border-radius: 15px;
}

